<template>
  <router-link to="/technasium" style="position: absolute; top: 0; left: 0">Terug naar hoofdpagina</router-link>
  <h1>Chatbot-GPT Robot(/Bot)</h1>
  <h2>Omschrijving:</h2>
  <p>Ontwerp een compleet <a href="https://locusrobotics.com/nl/wat-zijn-autonome-robots-acht-toepassingen-voor-de-amrs-van-vandaag/" target="_blank">autonome</a> chatbot-gpt robot</p>
  De robot moet de mogelijkheid hebben om via <a href="https://www.text2speech.org/" target="_blank">speech-2-text</a> chat-gpt instructies te ontvangen en via <a href="https://www.speechtexter.com/" target="_blank">text-2-speech</a> het antwoord terug te geven. Tevens moet het eigen commando's
  kunnen uitvoeren om zich bijvoorbeeld te kunnen verplaatsen. Gebruik hiervoor het '<a href="https://slimmespeakerinfo.nl/slimme-assistent-amazon-alexa/" target="_blank">Alexia</a> / <a href="https://support.google.com/websearch/answer/2940021?hl=nl&co=GENIE.Platform%3DAndroid" target="_blank">Hello Google</a>' principe.
  <p>Deze opdracht heeft zowel verplichte als optionele doelen, optionele doelen zijn bedoeld om na het uitvoeren van de verplichte doelen, mits er tijd over is, de robot uit te breiden met meer functionaliteit.</p>
  <h2 style="text-align: left">Verplichte doelen:</h2>
  <ul style="text-align: left">
    <li>Ontwerp de robot, gebruik hiervoor bijvoorbeeld design software</li>
    <li>Verzin een naam voor de robot en ontwerp een logo</li>
    <li>Zorg ervoor dat de robot autonoom is en geheel op zichzelf kan functioneren zonder hulp van kabels of ander randapparatuur, denk hierbij bijvoorbeeld aan het gebruik van zonne-energie en een accu</li>
    <li>Rust de robot uit met bv. arduino of raspberry pi inclusief microfoon/speaker, zodat het de mogelijk heeft om gesproken opdrachten te ontvangen en met spraakberichten te kunnen antwoorden</li>
    <li>Geef de robot wielen of rupsbanden (naar gelang het ontwerp), zodat het mobiel is en link deze aan de hardware (arduino/raspberry pi)</li>
    <li>Je moet hem kunnen in- en uitschakelen. (via spraak of knopje mag ook)</li>
  </ul>
  <h2 style="text-align: left">Optionele doelen:</h2>
  <ul style="text-align: left">
    <li>Limiet aan gesproken woorden (zowel in de te geven opdracht alswel het antwoord, zodat deze niet uit de hand loopt)</li>
    <li>Standaardtaal = Engels, breid deze uit met de Nederlandse taal</li>
    <li>Auto power-down</li>
    <li>Optie toevoegen om het antwoord via bv. de mail te ontvangen of naar een applicatie op de smartphone, etc.</li>
    <li>Breid de robot uit met een display waar het antwoord op weergegeven wordt in text.</li>
    <li>Demo-modus (waarin hij/zij/het zelf laat zien wat de mogelijkheden zijn)</li>
    <li>Indicatoren (bv. lampjes) die aangegeven als hij luistert / antwoord</li>
    <li>Emoji display die emoties weergeeft (als bv. de accu bijna leeg is of bij het niet begrijpen van een gesproken opdracht</li>
  </ul>

  <small>Het programmeer gedeelte neemt De Jonge Onderzoekers (aka D. Evenhuis) op zich, danwel samen met Bas en anderen als dit verlangt wordt. Verdere uitwerking met meer detail en specificaties voor deze opdracht volgt in de loop van deze week</small>
</template>
