<template>
  <h1>Technasium Team Opdracht 2023</h1>
  <h2>Opdrachtgever: De Jonge Onderzoekers</h2>
  <div style="display: flex; justify-content: center">
    <h3>Uitvoerders:</h3>
    <div style="display: flex; flex-direction: column; margin-left: 50px">
      <span>-Bas Cammans</span>
      <span>-En anderen*</span>
    </div>
  </div>
  <small>* teamgenoten op later tijdstip toevoegen</small>
  <h4>Tijdsduur project: 14 weken / 60 uur</h4>
  <h5>7 week / 30u voorbereiding</h5>
  <h5>7 week / 30u uitvoering</h5>
  <h3>Vak: Onderzoek & Ontwerpen</h3>
  <router-link to="/technasium/assignment">Naar de Opdracht</router-link>
</template>
